body {
    margin: 0;
}

* {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}

.header, .footer {
    padding: 10px 20%;
    display: flex;
    justify-content: space-between;
    background-color: #363636;
    /* color: #FFFFFF; */
    /* font-family: "Ubuntu", sans-serif; */
    font-size: 1.25em;
}

.column.is-sticky {
    position: sticky;
    top: 0px;
    align-self: flex-start;
}

.navigate:first-child {
    margin-left: 0;
}
.navigate:last-child {
    margin-right: 0;
}
.navigate {
    margin: 0px 20px;
}

.navigate a {
    /* color: #FFFFFF; */
    text-decoration: none;
}

a:hover {
    color: #0066CC;
    text-decoration: none;
}

.header-left, .footer-left, .header-right, .footer-right {
    display: flex;
    flex-direction: row;
}

.content {
    position: relative;
    background-color: #1C1C1C;
    border: 20px 0;
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

.content>.column {
    width: 100%;
    text-align: justify;
}

@media (max-width: 767px) {
    .header, .footer, .content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navigate {
        display: none;
    }
    .navigate:first-child {
        display: flex;
    }
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
    }
    .content>.column {
        width: 47%;
    }
}

#image-grid>img {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    padding: auto;
    border-width: 1px;
    border-style: solid;
}

#image-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-column-start: 1;
    grid-column-end: 1;
    gap: 20px;
}

img.rounded-corner {
    border-radius: 3ch;
}

.list {
  list-style: none;
  margin: auto;
  padding: 0;
}

.list li {
  background-color: #f7f7f7;
  border-radius: 4px;
  margin: 4pt 0;
  padding: 10px;
  font-size: 1pc;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list li:hover {
  background-color: #E2E2E2;
}
.list li:active{
  background-color: #DBCCB7;
}

.footer {
    height: 30px;
}

h1[name="category"] {
    margin-bottom: 0;
}

.section:first-of-type ~ .section{
    margin-top: 20px;
}

img:first-of-type + img {
    border-color: red;
}